
  <hr>
  <h3>結局、本日食べたのは、、、</h3>
  <%= form_for(@dinner_datum) do |d| %>
  <div class="field">
   <%= d.text_area :dinner_name %>
  </div>
  <div class="action">
   <%= d.submit :'これだ!!!', :class => 'btn btn-success' %>
  </div>
  <% end %>
