<div class="description">
 <div class="talk">
   <p>（家族内での会話）</p>
   <p class="mother">母：「今日の晩御飯何がいい？」</p>
   <p class="father">父：「...なんでもいい」</p>
   <p class="child">子：「...まかせる」</p>
   <p class="mother">母：「.....」</p>
 </div>

 <div class="mainbox">
   <p>どの家庭にもあるこの会話（問題）...</p>
   <h2>解決します！！！</h2>
   <h3>家族でグループを作り晩御飯のアンケートを取ることができる！</h3>
   <h3>食べた晩御飯を日付ごとに保存！</h3>
 </div>

 <div class="go">
    <h2>それではやってみよう！</h2><br>
    <%= link_to 'GO!', user_path(current_user), :class => 'btn btn-primary gobtn'%>
 </div>

 <footer>
   <p>koki inoue</p>
 </footer>

</div>
